<section id="itinerario" class="wrapper style1">
  <div class="inner timeline-center">
    <h2>Itinerario</h2>
    <ul class="tl-list">
      {{ range .Site.Data.itinerario.items }}
      <li class="tl-row">
        <div class="tl-left">
          <img class="tl-icon" src="{{ .icon | relURL }}" alt="{{ .label }}">
        </div>
        <div class="tl-right">
          <div class="tl-label">{{ .label }}</div>
          <div class="tl-time">{{ .time }}</div>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</section>


