                            <!-- Images -->
                                <section>
                                    <div class="content">

                                        <span class="image fit"><img src="images/gallery/pc/2.jpg" alt="" /></span>

                                        <h4>Oriana</h4>
                                        <p><span class="image left"><img src="images/gallery/matri/18.jpeg" alt="" /></span>¡Hola a todos! Me llena de felicidad saber que muy pronto compartiremos juntos un día tan especial para nosotros. 
            Más que una celebración, será un momento para agradecer, abrazar y reír con cada uno de ustedes, que han sido parte importante de nuestra historia.
            Queremos que se sientan cómodos, libres y felices, disfrutando cada instante como si fuera suyo también.
        </p>
        <p>
            Gracias por acompañarnos, por sus buenos deseos y por ser parte de este capítulo que recordaremos toda la vida.  
            ¡Nos vemos pronto para celebrar como se debe!</p>

                                        <h4>Jota</h4>
                                        <p><span class="image right"><img src="images/gallery/matri/19.jpeg" alt="" /></span>Hola a todos, quiero aprovechar este espacio para decirles lo afortunado que me siento de poder compartir este momento tan importante con cada uno de ustedes.  
            Este día no solo es un paso más en nuestra historia, sino también una oportunidad para celebrar la vida, la amistad y el amor que nos une.
        </p>
        <p>
            Tenerlos aquí significa más de lo que las palabras pueden expresar. Gracias por ser parte de nuestro camino, por sus abrazos, sus risas y por acompañarnos en esta aventura que apenas comienza.  
            ¡Vamos a disfrutarlo al máximo!</p>

                                    </div>
                                </section>

