{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "itinerario.html" . }}
	{{ partial "spotlight" site.Data.spotlight2 }}
	{{ partial "mensajes.html" . }}
	{{ partial "spotlight" site.Data.spotlight3 }}
	{{ partial "confirmacion.html" . }}
	{{ partial "gallery" site.Data.gallery }}
	{{ partial "faq.html" . }}
	{{ partial "footer" . }}


<section id="final-photo" class="final-photo-blur">
  <img class="main" src="images/gallery/pc/3.png" alt="Foto final">
</section>




{{ end }}